<%= title t('.meta.title') %>
<%= description t('.meta.description') %>
<%= keywords t('.meta.keywords') %>

<div class="relative isolate my-12">
  <div class="bg-sand-500 rounded-xl mx-auto max-w-7xl px-6 py-24  lg:flex lg:items-center lg:gap-x-10 lg:px-8 ">
    <div class="mx-auto max-w-2xl lg:mx-0 lg:flex-auto">

      <h1 class="mt-10 text-xl font-bold tracking-tight text-deep-blue-500 sm:text-7xl">
        <%= t('.title') %>
      </h1>
      <p class="mt-6 text-lg leading-8 text-deep-blue-500">
        <%= t('.description_html') %>
      </p>
      <div class="mt-10 flex items-center gap-x-6">
        <a href="#" class="btn btn-primary btn-large text-lg">
          <%= t('.cta') %>
          <%= render_svg "svg/arrow-right", styles: "w-4" %>
        </a>
      </div>
      <%# Reassurance %>
      <div class="mt-16 text-center text-sm ">
        <% elements = [
          { icon: "wrench", text: t('.reassurance_1') },
          { icon: "currency-euro", text: t('.reassurance_2') },
          { icon: "user-group", text: t('.reassurance_3') },
        ] %>
        <div class="grid grid-cols-1 gap-y-4 sm:grid-cols-3 sm:gap-x-4 sm:gap-y-0">
          <% elements.each do |element| %>
            <div class="flex items-center justify-center gap-x-2">
              <%= render_svg "svg/#{element[:icon]}", styles: "w-6" %>
              <span class="font-medium text-sm whitespace-nowrap text-deep-blue-500"><%= element[:text] %></span>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="mt-16 sm:mt-24 lg:mt-0 lg:flex-shrink-0 lg:flex-grow">
      <%= image_tag "beard_roofer.webp", class: "rounded-xl mx-auto w-[22.875rem] max-w-full drop-shadow-xl" %>
    </div>
  </div>

  <div class="overflow-hidden bg-white py-24 sm:py-32">
    <div class="mx-auto max-w-7xl md:px-6 lg:px-8">
      <div class="grid grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:grid-cols-2 lg:items-start">
        <div class="px-6 lg:px-0 lg:pr-4 lg:pt-4">
          <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-lg">
            <h2 class="mt-2 text-3xl font-bold tracking-tight text-deep-blue-500 sm:text-6xl">
              <%= t('.how_it_works.title') %>
            </h2>
            <p class="mt-6 text-lg leading-8 text-gray-600">
              <%= t('.how_it_works.description') %>
            </p>
            <dl class="mt-10 max-w-xl space-y-8 text-base leading-7 text-gray-600 lg:max-w-none">
              <% elements = [
                { text: t('.how_it_works.step_1') },
                { text: t('.how_it_works.step_2') },
                { text: t('.how_it_works.step_3') },
              ] %>
              <% elements.each_with_index do |el, i| %>
              <div class="relative flex items-center justify-start gap-4">
                <!-- rounded index -->
                <div class="flex items-center justify-center w-8 h-8 rounded-full bg-blue-100 text-blue-500 text-lg leading-8">
                  <%= i + 1 %>
                </div>
                <dd class="inline">
                  <%= el[:text] %>
                </dd>
              </div>
              <% end %>
            </dl>
          </div>
        </div>
        <div class="sm:px-6 lg:px-0">
          <div class="relative isolate overflow-hidden bg-indigo-500 px-6 pt-8 sm:mx-auto sm:max-w-2xl sm:rounded-3xl sm:pl-16 sm:pr-0 sm:pt-16 lg:mx-0 lg:max-w-none">
            <div class="absolute -inset-y-px -left-3 -z-10 w-full origin-bottom-left skew-x-[-30deg] bg-indigo-100 opacity-20 ring-1 ring-inset ring-white" aria-hidden="true"></div>
            <div class="mx-auto max-w-2xl sm:mx-0 sm:max-w-none">
              <img src="https://tailwindui.com/plus/img/component-images/project-app-screenshot.png" alt="Product screenshot" width="2432" height="1442" class="-mb-12 w-[57rem] max-w-none rounded-tl-xl bg-gray-800 ring-1 ring-white/10">
            </div>
            <div class="pointer-events-none absolute inset-0 ring-1 ring-inset ring-black/10 sm:rounded-3xl" aria-hidden="true"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>